<section class="container">
    <div class="login">
      <h1>Instafer Admin-Release Escrow USDX to INRX</h1>
      
      <form>
          <p id="instructor"></p>
        <p><input type="text" id="releaseescrowusdxtoinrxid1" placeholder="Enter Bytes32 ID1"></p>
        <p><input type="text" id="releaseescrowusdxtoinrxid2" placeholder="Enter Bytes32 ID2"></p>
        <p><input type="text" id="releaseescrowusdxtoinrxsender" placeholder="Enter Sender Address:"></p>
        <p><input type="text" id="releaseescrowusdxtoinrxreceiver" placeholder="Enter Reciever Address:"></p>
        <p class="submit"><input type="submit" id="releaseescrowusdxtoinrxbtn" value="Release" (click)="releaseescrowusdxtoinrx()"></p>
      </form>
    </div>
</section>