<section class="container">
        <div class="login">
          <h1>Instafer Admin-Release Escrow INRX to USDX</h1>
          
          <form>
              <p id="instructor"></p>
            <p><input type="text" id="releaseescowinrxtousdxid1" placeholder="Enter Bytes32 ID1"></p>
            <p><input type="text" id="releaseescowinrxtousdxid2" placeholder="Enter Bytes32 ID2"></p>
            <p><input type="text" id="releaseescowinrxtousdxsender" placeholder="Enter Sender Address:"></p>
            <p><input type="text" id="releaseescowinrxtousdxreceiver" placeholder="Enter Reciever Address:"></p>
            <p class="submit"><input type="submit" id="releaseescowinrxtousdxid1btn" value="Release" (click)="releaseescrowinrxtousdx()"></p>
          </form>
        </div>
</section>