<section class="container">
        <div class="login">
          <h1>Instafer Admin-Transfer from</h1>
          
          <form>
              <p id="instructor"></p>
            <p><input type="text" id="transferfromfrom" placeholder="From"></p>
            <p><input type="text" id="transferfromto" placeholder="To"></p>
            <p><input type="number" id="transferfromamount" placeholder="Amount"></p>
            
            <p class="submit"><input type="submit" id="transferfrombtn" value="Transfer"></p>
          </form>
        </div>
</section>