<section class="container">
    <div class="login">
      <h1>INSTAFER-Lock Escrow USDX</h1>
      
      <form>
          <p id="instructor"></p>
        <p><input type="text" id="lockEscrowUSDXAddressSender" placeholder="address Sender"></p>
        <p><input type="text" id="lockEscrowUSDXAddressReceiverAgent" placeholder="address ReceiverAgent"></p>
        <p><input type="text" id="lockEscrowUSDXAddressReceiver" placeholder="address Receiver"></p>
        <p><input type="number" id="lockEscrowUSDXAddressAmount" placeholder="amount"></p>
        
        <p class="submit"><input type="submit" id="lockEscrowUSDXAddressButton" value="Lock Escrow" (click)="lockescrowusdx()"></p>
      </form>
    </div>
</section>