<section class="container">
    <div class="login">
      <h1>INSTAFER-Lock Escrow INRX</h1>
      
      <form>
          <p id="instructor"></p>
        <p><input type="text" id="lockEscrowINRXAddressSender" placeholder="address Sender"></p>
        <p><input type="text" id="lockEscrowINRXAddressReceiverAgent" placeholder="address ReceiverAgent"></p>
        <p><input type="text" id="lockEscrowINRXAddressReceiver" placeholder="address Receiver"></p>
        <p><input type="number" id="lockEscroINRXAmount" placeholder="amount"></p>
        
        <p class="submit"><input type="submit" id="lockEscrowINRXButton" value="Lock Escrow" (click)="lockEscrow()" ></p>
      </form>
    </div>
</section>