<section class="container">
    <div class="login">
      <h1>INSTAFER Agent-Withdraw as USDX</h1>
      
      <form>
          <p id="instructor"></p>
        <p><input type="number" id="withdrawAsUSDXAmount" placeholder="Amount"></p>
        <p><input type="text" id="withdrawAsUSDXTorF" placeholder="True or False"></p>
		
		<p class="submit"><input type="submit" id="withdrawAsUSDXButton" value="withdraw as USDX" (click)="withdrawasincusdx()" ></p>
		 
      
      </form>
    </div>
</section>